<html>
		<title>RUIM {{ evento.year }} -Reunion Universitaria de Investigacion en  Materiales</title>
<head>

    {% load  static %}

    <link rel="shortcut icon" type="image/png" href="{% static '/admin/Escudo_Unison.png'%}"/>


    <!-- Bootstrap -->
    <link href="{% static 'TestApp/css/gestion.css'%}" rel="stylesheet">

    <link href="{% static 'TestApp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

     <!-- Fonts -->
    
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
     <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
     

    <!-- Styles -->
    <link href="{% static 'TestApp/css/gestion.css' %}" rel="stylesheet">
    
    <style>
      .loginfrm {
          color: white;
      }
      </style>
</head>

<body>

    <h1 class="site-heading text-center text-white d-none d-lg-block">
			<span class="site-heading-lower">RUIM {{ evento.year }}</span>
			<h5 class="site-heading text-center text-white d-none d-lg-block">Reunión Universitaria de Investigación en Materiales {{ evento.year }}</h5>
    </h1>


 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="{% url 'TestApp:Home' %}">Congreso RUIM</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item {% if request.path == '/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'TestApp:Home' %}">Inicio</a>
          </li>
          <li class="nav-item {% if request.path == '/programa/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'TestApp:Programa' %}">Programa</a>
          </li>
          <li class="nav-item {% if request.path == '/poster/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'TestApp:Poster' %}">Póster</a>
          </li>
          <li class="nav-item {% if request.path == '/ubicacion/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'TestApp:Ubicacion' %}">Ubicación</a>
          </li>
          <li class="nav-item {% if request.path == '/contacto/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'TestApp:Contacto' %}">Contacto</a>
          </li>
          <li class="nav-item {% if request.path == '/registro/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'TestApp:Registro' %}">Registro</a>
          </li>
          <li class="nav-item {% if request.path == '/ediciones/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'TestApp:Ediciones' %}">Ediciones Anteriores</a>
          </li>
        
         
        </ul>
      </div>
    </div>
  </nav>


  <!-- Contenido cambiante -->
  {% block content %}


  {% endblock %} 


    <!-- Footer -->
    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0 mbt">
        	<a href="https://www.unison.mx" target="_blank" style="color: white">Universidad de Sonora</a> ·
        	<a href="https://dcen.unison.mx" target="_blank" style="color: white">Division de Ciencias Exactas y Naturales</a> ·
        	<a href="https://difus.unison.mx" target="_blank" style="color: white">Departamento de Investigacion en Fisica</a>
		    </p>
        <p class="m-0 mbt1">&copy; Comité Organizador RUIM 2022</p>
      </div>
	</footer>

    <!-- Bootstrap -->
    <script src="{% static 'TestApp/vendor/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'TestApp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>


</html>
