{% extends "TestApp/base.html" %}

 {% load static %}

 {% block content %}

 <div><p></p></div>
<center>
    <div class="intro-text left-0 text-left bg-faded p-4 rounded" style="background-color: rgba(28, 72, 124); margin-top: auto; margin-bottom: 1cm; width: 70%; text-align: center;">

        <h2 style="color: white;">{{ edicion.title }} </h2> <br />
		{% for event in past_events %}
        <li style="color: white; font-size: 150%;">
				<a href="{% url 'TestApp:Cambiar Vista' year=event.year %}" target="_self" method="GET" style="color: white">RUIM {{ event.year }}</a>
        </li> <br />
		{% endfor %}
        <li style="color: white; font-size: 150%;">
            <a href="http://www.ruim.uson.mx/anterior/index.php" target="_blank" style="color: white">RUIM 2019</a>
        </li> <br />

        <li style="color: white; font-size: 150%;">
            <a href="http://www.ruim.uson.mx/anterior/2018/index.php" target="_blank" style="color: white">RUIM 2018</a>
        </li> <br />

        <li style="color: white; font-size: 150%;">
            <a href="http://www.ruim.uson.mx/anterior/2018/2017/index.php" target="_blank" style="color: white">RUIM 2017 (Página deshabilitada)</a>
        </li> <br />

    </div>
    
</center>
 {% endblock %}
