{% extends "TestApp/base.html" %}


 {% block content %}
<div>
 <head>
  <script>
      function addauthor(arg){
            var data =
            `<div class="container-fluid row" style="background-color: rgba(28, 72, 124); text-align: center;">
               <div class="container col-9 me-2 col">
                  <div class="mb-2">
                     <br><br><br>
                     <h6 class=" text-uppercase">Información del autor ` + arg + `</h6>
                     <hr class="dashed">
                  </div>
                  <div class="col">
                     <label class="form-label">Nombre(s)</label>
                     <input type="text" name="a` + arg + `_nom" placeholder="Nombre del autor ` + arg + `" class="form-control" required>
                  </div><br>
                  <div class="row">
                     <div class="col">
                        <label class="form-label">Apellido paterno:</label>
                        <input placeholder="Apellido paterno del autor ` + arg + `"  type="text" name="a` + arg + `_pat" class="form-control" required >
                     </div>
                     <div class="col">
                        <label class="form-label">Apellido materno:</label>
                        <input placeholder="Apellido materno del autor ` + arg + `"  type="text" name="a` + arg + `_mat" class="form-control" required >
                     </div>
                  </div><br>
                  <div class="row">
                     <div class="col">
                        <label class="form-label">Institucion</label>
                        <input placeholder="Institución del autor ` + arg + `" type="text" name="a` + arg + `_inst" class="form-control" required >
                     </div>
                     <div class="col">
                        <label class="form-label">Departamento</label>
                        <input placeholder="Departamento del autor ` + arg + `" type="text" name="a` + arg + `_dep" class="form-control" required >
                     </div>
                  </div> <br>
                  <div class="row">
                     <div class="col">
                        <label class="form-label">Grado academico</label>
                        <select id="grado" name="a` + arg + `_grado" class="form-select">
                           <option value="Estudiante">Estudiante</option>
                           <option value="Ingeniería">Ingeniería</option>
                           <option value="Licenciatura">Licenciatura</option>
                           <option value="Doctorado">Doctorado</option>
                           <option value="Maestría">Maestría</option>
                        </select>
                     </div>
                  </div><br>
               </div>
            </div>`;
          document.getElementById("a" + arg).innerHTML = data;
      }
      function addauthors(arg){
        for(i=1; i<=arg; i++){
            addauthor(i);
        }
      }
  </script>
</head>

<body>
  <center>
      <form action="/add/" method="POST" enctype="multipart/form-data" class="loginfrm">
			  {% csrf_token %}
         <div class="ms-0  ps-0 container-fluid row" style="background-color: rgba(28, 72, 124); margin-top: 1cm; margin-bottom: 1cm; width: 70%; text-align: center;">
            <div class="container p-2 col-9 mt-4 me-2 col">

               <h3 style="color:white;"> 
                  Solicitud para registro de ponencias
               </h3><br>
               
               <h5 class=" text-uppercase">Información del proyecto</h5>
               <hr class="dashed">

               <div class="mb-5">
                  <div class="row">
                     <div class="col">
                        <div><label class="form-label">Titulo</label><input class="form-control" type="text" name="pres_tit" required></div>
                     </div>
                     <div class="col">
                        <div class="row">
                           <div class="col">
                              <label class="form-label">Resumen</label>
                              <span class="ms-2 badge bg-secondary">i</span>
                           </div>
                        </div>
                        <input name="resumen" accept=".pdf" controlid="" type="file" class="form-control" required>
                     </div>
                  </div>
                  <br>
                  <div class="row">
                     <div class="col">
                           <label class="form-label">Modalidad</label>
                           <select name="mod" class="form-select">
                              <option value="Cartel">Cartel</option>
                              <option value="Ponencia">Ponencia</option>
                           </select>
                     </div>
                     <div class="col"></div>
                  </div>
               </div>
               <div class="mb-2">
                  <div class="mb-2">
                     <h5 class=" text-uppercase">Información del representante</h5>
                     <hr class="dashed">
                  </div>
                  <div class="row">
                     <div class="col">
                        <label class="form-label">Nombre(s)</label>
                        <input type="text" name="resp_nom" placeholder="Nombre del representante" class="form-control" required >
                     </div> 
                     <div class="col">
                        <label class="form-label">Apellido paterno:</label>
                        <input placeholder="Apellido paterno del representante"  type="text" name="resp_pat" class="form-control" required >
                     </div>
                     <div class="col">
                        <label class="form-label">Apellido materno:</label>
                        <input placeholder="Apellido materno del representante"  type="text" name="resp_mat" class="form-control" required >
                     </div>                    
                  </div>
                  <br>
                  <div class="col">
                     <label class="form-label">Correo electronico</label>

                     <input placeholder="Correo electronico del representante" type="email" class="form-control" name="pres_email" required >
                  </div>
                  <br>
                  <div class="row">
                     <div class="col">
                        <div>
                           <label class="form-label">Institucion</label>
                           <input placeholder="Institución del autor" type="text" name="resp_inst" class="form-control" required>
                        </div>
                     </div>
                     <div class="col">
                        <label class="form-label">Departamento</label>
                        <input placeholder="Departamento del autor" type="text" name="resp_dep" class="form-control" required>
                     </div>
                  </div>
                  <br>
                     <div class="col">
                        <div>
                           <label class="form-label">Grado academico</label>
                           <select name="resp_grado" class="form-select">
                              <option value="Estudiante">Estudiante</option>
                              <option value="Ingeniería">Ingeniería</option>
                              <option value="Licenciatura">Licenciatura</option>
                              <option value="Doctorado">Doctorado</option>
                              <option value="Maestría">Maestría</option>
                           </select>
                        </div>
                  </div>
               </div>
               <br>
               <h5 class=" text-uppercase">Información del equipo</h5>
               <hr class="dashed">

               <div id="a1"></div> 
               <div id="a2"></div>
               <div id="a3"></div>
               <div id="a4"></div>
               <div id="a5"></div>
               <div id="a6"></div>
               <div id="a7"></div>
               
               <div class="row" >
                  
                  <div class="col">
                     <p>Seleccione la cantidad de autores a agregar 
                        <input type="range" value="0" name="cant_auth"  id ="cant_auth" min="0" max="7" oninput="this.nextElementSibling.value = this.value">
                        <output cant_auth.value default="1"></output>
                     </p> 
                  </div>
                  <div class="col">
                     <input value="Agregar autores" onclick="addauthors(cant_auth.value)" class=" btn-primary mt-4  btn btn-info"></button><br>
                  </div>
                  <p><br><br><input type="submit" value="Enviar" class=" btn-primary mt-4  btn btn-primary"></p>
               </div>

               
            </div>
         </div>
      </form>
   </body>
</center>
</div>

{% endblock %}
  

