{% extends "TestApp/base.html" %}

 {% load static %}

 {% block content %}

 <div><p></p></div>

  <center>
    &nbsp;<br />
    <img alt="Programa del evento" style="text-align: center; width:55%" src="{% static evento.programa.programa_img %}" /></a>
    <h3 style="font-size: 165%; color: white; width: 55%;">Para ver el programa en formato PDF para impresión, haga click
      <u>
      <a href="{% static evento.programa.programa_pdf %}" target="_blank" style="color: white;">AQUÍ</a>
      </u>
    </h3>
</center>

  <div><p></p></div>

 {% endblock %}
