<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>P치gina de Inicio</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" href="/path/to/your/styles.css" />
    <!-- Cambia esto a tu archivo CSS si tienes uno -->
  </head>
  <body>
    <div class="container">
      <h1>Bienvenido a la Aplicaci칩n de Registro</h1>
      <p>Utiliza el siguiente enlace para registrarte:</p>
      <a href="/register">Registrarse</a>
      <p>O inicia sesi칩n si ya tienes una cuenta:</p>
      <a href="/login">Iniciar sesi칩n</a>
    </div>
  </body>
</html>
