{% extends "TestApp/AdminFront/baseAdmin.html" %}
{% load static %}

{% block title %}Iteraciones{% endblock %}

{% block content %}
<body>
    <script>
        function alertDelete(arg) {
            del = confirm("¿Seguro que deseas eliminar el evento?");
            myform = document.getElementById(arg);
            myform['del'].value = del;
            console.log(myform['del'].value);
            return;
           
        }
        </script>
    <div class="container">
        <h1 class="row py-4">Editando: Edición " {{ iteracion.year }} "</h1>

        {% if message %}
        <h2 class="row" style="color: rgb(204, 0, 0);"><strong> {{ message|linebreaks }} </strong></h2>
        {% endif %}

        <div class="row">
            <div class="col-4 mb-4">
                <form action="{% url 'TestApp:Crear una Iteración' %}" method="POST"> 
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-lg" name="createIter">Crear una nueva iteración</button> 
                </form>
            </div>
        </div>
        {% if iteracion_list %}
            <table class="table table-bordered table-hover">
                <caption style="caption-side:top ">Iteraciones creadas:</caption>
                <tbody>
                {% for evento in iteracion_list %}
                    <tr>
                        <td class="col-1" style="text-align: center; vertical-align: middle; font-size: 1.5rem; font-weight: bold;" scope="col"> {{ evento.year }} </td>
                        <td class="col-3" style="text-align: center; vertical-align: middle;">
                            <form action="{% url 'TestApp:Change Editing' %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" name="editar" value={{evento.year}} class="btn btn-secondary" style="width: 100%">Editar</button> 
                            </form>
                        </td>

                        <td class= "col-3" style="vertical-align: middle; text-align: center"> 
                            <form id='{{evento.year}}' action="{% url 'TestApp:Borrando Iteracion' %}" method="POST"> 
                                {% csrf_token %}
                                <input type="hidden" id="del" name="del">
                                <button type="submit" onclick='alertDelete( {{evento.year}} )' name="pk" form='{{evento.year}}' formmethod="post" value={{evento.pk}}  class="btn btn-danger" style="width: 100%">Eliminar</button> 
                            </form> 
                        </td>

                        {% if evento.active %}
                        <td class="col-3" style="text-align: center; vertical-align: middle; font-size: 1.5rem">
								<table><tr><td class="table-success">¡Evento activo!</td>
											
											<td class="col-3" style="text-align: center; vertical-align: middle; font-size: 1.5rem">
													<form action="{% url 'TestApp:Activar registro' %}" method="POST">
															{% csrf_token %}
															<button type="submit" name="registro" value={{evento.year}} class="btn btn-info" style="width:100%">
																	{% if evento.register_available %}
																	Desactivar registro
																	{% else %}
																	Activar registro
																	{% endif %}
															</button>
													</form>
											</td></tr></table></td>
                        {% else %}
                        <td class="col-3"style="vertical-align: middle"> 
                            <form action="{% url 'TestApp:Activar Iteracion' %}" method="POST"> 
                                {% csrf_token %}
                                <button type="submit" name="activar" value={{evento.year}} class="btn btn-success" style="width: 100%">Activar evento</button> 
                            </form> 
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            No existen iteraciones guardadas de la RUIM para mostrar. Cree una iteración para mostrar datos.
        {% endif %}
    </div>
</body>
{% endblock %}
