{% extends "TestApp/AdminFront/baseAdmin.html" %}
{% load static %}

{% block title %}Edición de Inicio{% endblock %}

{% block content %}

    <body>
		<br/>
        <center>
            {% if message %}
                <h2 style="color: rgb(129, 235, 246); font-weight: bold;">{{ message }} </h2>
                </br>
            {% endif %}
        <h1>
            Edición de la pestaña de inicio
        </h1>
        {% if form.errors %}
            <p>Debe completar todos los campos correctamente.</p>
        {% else %}
            <p>Ingrese los cambios a los campos que se mostrarán en la página de inicio:</p>
        {% endif %}

		<form action="{% url 'TestApp:Procesar Inicio' %}" method="POST" enctype="multipart/form-data">
            {{ form.as_ul }}
            {% csrf_token %}
            <input type="submit" value="Confirmar cambios">
        </form>
        </center>
    </body>
{% endblock %}
